contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
gdspy==1.6.13
gitdb==4.0.10
GitPython==3.1.32
importlib-resources==6.0.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.7.2
mdurl==0.1.2
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
rich==13.5.2
six==1.16.0
smmap==5.0.0
zipp==3.16.2
